/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  
:root {
  --background: #4B5258;
  --border: #6D757D;
}

  body {
    background: #121212;
    width:100%;
    height: 100%;
    font-family: "Open sans", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
  a{
    color:#EFE6DC;
  }
  #wrapper {
    background: var(--background);
    box-sizing: border-box;
    margin: 0 auto;
    margin-top:30px;
    max-width: 1000px;
  }
  #content {
    padding: 15px 215px 15px 15px;
    background: var(--background);
    background: var(--background) url("images/bg3.png") repeat-y right;
    background-clip: padding-box;
    min-height: 50em;
    !margin: auto;
    box-sizing: border-box;
    color:#EFE6DC;
    border-bottom: 10px double var(--border);
    border-left: 10px double var(--border);
    border-right: 10px double var(--border);
  }
  #header {
    text-align: center;
    !float: left;
    padding: 30px;
    /*! width: 100%; */
    box-sizing: border-box;
    background: var(--background);
    !background: var(--background) url("images/bg.png") repeat-y right;
    margin: auto;
    border-top: 10px double var(--border);
    border-left: 10px double var(--border);
    border-right: 10px double var(--border);
  }
  @media screen and (max-width: 600px) {
    #content {
      background: var(--background);
      padding: 15px 15px 15px 15px;
    }
  }
  .site-title {
    text-align:left;
    font-weight:bold;
    display:block;
  }
  img.site-title{
    width:500px;
    max-width:100%;
    border: none;
  }
  a.site-title {
      text-decoration:none;
      color:ffffff;
      font-size:3em;
  }
  #menu a {
    text-decoration: none;
  }
  #menu {
    background: #339933;
    max-width: 100%;
    display: flex;
    padding:0;
    margin:0 auto;
    border-top: 10px double #227F3A;
    border-bottom: 10px double #227F3A;
  }
  #menu div {
    position: relative;
  }
  #menu a {
    padding: 10px;
    display: inline-flex;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
  }
  #content a {
    text-decoration: none;
    color: #CDC3B9;
  }
  #comic-area{
    margin-bottom:30px;
    text-align:center;
  }
  .cc-comic{
    box-sizing: border-box;
  }
  .cc-gallery img{
    border: 10px double var(--border);
  }
  .cc-nav{
    max-width:600px;
    margin: 0 auto;
    padding:20px;
    display:flex;
  }
  .cc-nav a, .cc-nav div{
    margin:0 10px;
    display:block;
    background-size:100%;
    width:100%;
  }
  .cc-nav a{
    opacity:.7;
  }
  .cc-nav a:before, .cc-nav div:before{
      content:'';
    display:block;
    padding-bottom:calc((4/5) * 100%);
  }
  .cc-nav a:hover{
    opacity:1;
  }
  .cc-first, .cc-first-dis{
      background-image:url('images/first.png');
  }
  .cc-prev, .cc-prev-dis{
      background-image:url('images/prev.png');
  }
  .cc-next,.cc-next-dis{
      background-image:url('images/next.png');
  }
  .cc-last,.cc-last-dis{
      background-image:url('images/last.png');
  }
  .cc-navaux{
      background-image:url('images/rss.png');
  }
  .cc-nav div{
      opacity:.5;
  }
  #cc-comicbody{
    text-align:center;
  }
  #cc-footer{
    text-align:center;
    color:#EFE6DC;
    padding:20px;
    font-size:.8em;
  }
  .cc-blogtitle{
    font-size: 2em;
    font-weight: bold;
  }
  .cc-blogpost{
    color:#EFE6DC;
  }
  .cc-pagelist{
    color:#EFE6DC;
  }